.error {
    color: red;
    margin-left: 5px;
}

.error-message {
    color: red;
    margin-top: 5px;
}

.mandatory-field:after {
    content:"*";color:red;
}

.product-img-thumbnail-listing {
	padding: .25rem;
	background-color: #fff;
	border: 1px solid #dee2e6;
	border-radius: .25rem;
	max-width: 50px;
	height: auto
}