.thumbnail-listing {
	max-width: 50px;
	max-height: 50px;
	margin-top: 5px;
}
.form-control, .form-check-input, .btn {
	margin-top: 5px;
}
/* Styles for Validation Icons */
.validation-icon {
	margin-left: 10px;
	font-size: 1.2em;
	vertical-align: middle;
	position: absolute;
	right: 10px; /* Adjust as needed */
	top: 50%;
	transform: translateY(-50%);
}

/* Success Styles */
.is-valid {
	border-color: #28a745 !important; /* Green border */
	padding-right: 30px; /* Space for icon */
}

/* Error Styles */
.is-invalid {
	border-color: #dc3545 !important; /* Red border */
	padding-right: 30px; /* Space for icon */
}
/* Make the toggle switch the same size as input fields */
.form-check.form-switch {
	display: flex;
	align-items: center;
	height: calc(2.5rem + 2px); /* Match input height */
}

.form-check-input {
	width: 3rem !important; /* Adjust the width of the toggle */
	height: 1.5rem; /* Adjust the height of the toggle */
	margin-top: 0; /* Center align toggle */
	border-radius: 50px; /* Make it rounded */
	border: 1px solid #ccc; /* Optional: add border */
	transition: all 0.3s ease; /* Smooth transitions */
}

/* Optional: Customize the label font size */
.form-check-label {
	font-size: 1rem;
	margin-left: 10px; /* Add space between toggle and label */
}